.phone {
    margin: 0 auto;
    position: relative;
    background: #111;
    border-radius: 55px !important;
    box-shadow: 0px 0px 0px 2px #aaa;
    width: 320px;
    height: 568px;
    padding: 105px 25px;
    -webkit-box-sizing: content-box;
    box-sizing: content-box;
}
.phone:before {
    content: '';
    width: 60px;
    height: 10px;
    border-radius: 10px;
    position: absolute;
    left: 50%;
    margin-left: -30px;
    background: #333;
    top: 50px;
}
.phone:after {
    content: '';
    position: absolute;
    width: 60px;
    height: 60px;
    left: 50%;
    margin-left: -30px;
    bottom: 20px;
    border-radius: 100%;
    box-sizing: border-box;
    border: 5px solid #333;
}
.phone .statusbar {
    position: absolute;
    width: 320px;
    height: 20px;
    background: url('../img/6on5eAAAAAElFTkSuQmCC.png');
    left: 50%;
    margin-left: -160px;
    top: 100px;
    -webkit-background-size: 100% auto;
    background-size: 100% auto;}
.phone-centent{
    position: absolute;
    width: 320px;
    height: 560px;
    padding: 0 10px;
    background: #fff;
    left: 50%;
    margin-left: -160px;
    top: 120px;
    overflow: hidden;
}
.phone-title{
    padding: 10px 0;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    font-size: 16px;
    font-weight: 600;
}
.phone-img{
    /*max-height: 150px;*/
    min-height: 120px;
    overflow: hidden;
    text-align: center;
    background: url("../img/1492170639(1.png") center no-repeat;
    background-size: 100%;
}
.phone-img img{
    max-width: 100%;
}
.phone-textarea{
    max-height: 130px;
    min-height: 120px;
    overflow: hidden;
    text-align: left;
    font-size: 14px;
    padding: 10px 0;
    line-height: 1.5;
}
.phone-nav{
    display: inline-block;
    position: absolute;
    bottom: -10px;
    left: -10px;
    width: 320px;
    max-height: 300px;
    overflow-y: auto;
    background: #F3F3F3;
}
.phone-nav .phone-nav-items ul{
    display: inline-block;
    display: none;
    padding: 0;
    margin: 0;
}
.phone-nav .phone-nav-items li{
    display: inline-block;
    list-style-type: none;
    width: 100%;
    border-top: #ddd solid 1px;
    line-height: 38px;
    text-align: center;
}
.phone-textarea-empty{

}
.phone-textarea-empty .value-empty {
    background-color: #e1e1e1;
    height: 10px;
    margin-bottom: 10px;
}
.value-empty.w140{
    width: 140px;
}
.phone-record{

}
.phone-record p.title{
    margin: 0;
    padding: 5px 0;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    font-size: 16px;
    font-weight: 600;
    border-bottom: #DDF solid 1px;
}
.phone-record-items{
    width: 300px;
    height: 150px;
    margin: 0 auto;
    background: url('../img/1492170142(1.png') no-repeat center;
}
.phone-record-btn{
    display: block;
    padding: 8px;
    background: #ddd;
    border-radius: 5px !important;
    text-align: center;
    position: absolute;
    bottom: 10px;
    left: 10px;
    width: 300px;
    cursor: pointer;
}
.phone-record-btn:hover .phone-nav-items ul{
    display: block !important;

}

/* 批次列表 */
.list-box{
    border: #ddd solid 1px;
    padding: 10px;
    margin-bottom: 20px;
    position: relative;
}
.list-box .title{
    display: block;
    width: 100%;
    font-size: 18px;
    text-overflow:ellipsis;
    white-space:nowrap;
    overflow:hidden;
}
.list-box .intro{
    display: block;
    margin: 10px 0;
    overflow: hidden;
    height: 36px;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
}
.list-box .btn{
    margin-right: 8px;
    margin-bottom: 6px;
}
.list-box .label{
    border-radius: 0;
}
.list-box-mark{
    position: absolute;
    top: 0;
    right: 0;
    z-index: 999;
}
.list-box-mark .label{
    margin-top: -1px;
    margin-right: -1px;
}
/*水平图片布局样式*/
.horizontal-img-items{

}
.horizontal-img-items ul{
    display: inline-block;
    margin: 0;
    padding: 0;
}
.horizontal-img-items li{
    position: relative;
    display: inline-block;
    width: 60px;
    height: 60px;
    list-style-type: none;
    float: left;
    margin: 0 5px 5px 0;
    border:#ddd solid 1px;
    overflow:hidden;
}
.horizontal-img-items li .close{
    display: block;
    position: absolute;
    top: 0;
    right: 0;
    width: 24px;
    height: 24px;
    background: #FF3F3F;
    color: #fff;
    font-size: 14px;
    opacity: 0.9;
    text-align: center;
    line-height: 24px;
}
.horizontal-img-items li img{
    width: 100%;
}
/*重置样式*/
.page-content-white .page-title {
    margin: 0;
    font-size: 24px;
    border-bottom: 2px solid #ddd;
    padding: 10px 0;
    margin-bottom: 10px;
}
.portlet {
    margin-top: 0;
    margin-bottom: 25px;
    padding: 0;
}
.portlet.light {
    padding: 12px 20px 15px;
    background-color: #fff;
}
.portlet.light.bordered {
    border: 1px solid #e7ecf1!important;
}
.portlet.light.portlet-fit {
    padding: 0;
}
.portlet.light.portlet-fit>.portlet-body {
    padding: 10px 20px 20px;
}
.portlet>.portlet-title {
    border-bottom: 1px solid #eee;
    padding: 0;
    margin-bottom: 10px;
    min-height: 41px;
    -webkit-border-radius: 4px 4px 0 0;
    -moz-border-radius: 4px 4px 0 0;
    -ms-border-radius: 4px 4px 0 0;
    -o-border-radius: 4px 4px 0 0;
    border-radius: 4px 4px 0 0;
}
.portlet.light.portlet-fit>.portlet-title {
    padding: 10px 20px 10px;
}
.portlet>.portlet-title>.caption {
    float: left;
    display: inline-block;
    font-size: 18px;
    line-height: 18px;
}
.portlet.light>.portlet-title>.caption {
    color: #666;
    padding: 5px 0;
}
.font-green {
    color: #32c5d2!important;
}
.btn-group-vertical>.btn, .btn-group>.btn {
    position: relative;
    float: left;
}
.btn:hover {
    transition: all .3s;
}
.btn {
    outline: 0!important;
    border-radius: 0!important;
}
.btn.green:not(.btn-outline) {
    color: #FFF;
    background-color: #32c5d2;
    border-color: #32c5d2;
}
.btn.green:not(.btn-outline).active, .btn.green:not(.btn-outline):active, .btn.green:not(.btn-outline):hover, .open>.btn.green:not(.btn-outline).dropdown-toggle {
    color: #FFF;
    background-color: #26a1ab;
    border-color: #2499a3;
}
.portlet>.portlet-title>.actions>.btn, .portlet>.portlet-title>.actions>.btn-group>.btn, .portlet>.portlet-title>.actions>.btn-group>.btn.btn-sm, .portlet>.portlet-title>.actions>.btn.btn-sm {
    padding: 4px 10px;
    font-size: 13px;
    line-height: 1.5;
}
.portlet>.portlet-title>.actions {
    float: right;
    display: inline-block;
}
/*首页数据统计*/
.dashboard-stat {
    display: block;
    margin-bottom: 25px;
    overflow: hidden;
}
.dashboard-stat.blue {
    background-color: #3598dc;
}
.dashboard-stat.red {
    background-color: #e7505a;
}
.dashboard-stat.green {
    background-color: #32c5d2;
}
.dashboard-stat.purple {
    background-color: #8E44AD;
}
.dashboard-stat .visual {
    width: 80px;
    height: 80px;
    display: block;
    float: left;
    padding-top: 10px;
    padding-left: 15px;
    margin-bottom: 15px;
    font-size: 35px;
    line-height: 35px;
}
.dashboard-stat .visual>i {
    margin-left: -35px;
    font-size: 110px;
    line-height: 110px;
}
.dashboard-stat.blue .visual>i {
    color: #FFF;
    opacity: .1;
    filter: alpha(opacity=10);
}
.dashboard-stat.red .visual>i {
    color: #fff;
    opacity: .1;
    filter: alpha(opacity=10);
}
.dashboard-stat.green .visual>i {
    color: #FFF;
    opacity: .1;
    filter: alpha(opacity=10);
}
.dashboard-stat.purple .visual>i {
    color: #fff;
    opacity: .1;
    filter: alpha(opacity=10);
}
.dashboard-stat .details {
    position: absolute;
    right: 15px;
    padding-right: 15px;
}
.dashboard-stat .details .number {
    padding-top: 25px;
    text-align: right;
    font-size: 34px;
    line-height: 36px;
    letter-spacing: -1px;
    margin-bottom: 0;
    font-weight: 300;
    color: #fff;
}
.dashboard-stat .details .desc {
    text-align: right;
    font-size: 16px;
    letter-spacing: 0;
    font-weight: 300;
    color: #fff;
}
.dashboard-stat .more {
    clear: both;
    display: block;
    padding: 6px 10px;
    position: relative;
    text-transform: uppercase;
    font-weight: 300;
    font-size: 11px;
    opacity: .7;
    color: #fff;
    filter: alpha(opacity=70);
}
.dashboard-stat .more>i {
    display: inline-block;
    margin-top: 1px;
    float: right;
}
.dashboard-stat.blue .more {
    color: #FFF;
    background-color: #258fd7;
}
.dashboard-stat.red .more {
    color: #fff;
    background-color: #e53e49;
}
.dashboard-stat.green .more {
    color: #FFF;
    background-color: #2bb8c4;
}
.dashboard-stat.purple .more {
    color: #fff;
    background-color: #823e9e;
}
.m-icon-white {
    background-image: url(../img/syncfusion-icons-white.png);
}
.m-icon-swapright {
    background-position: -27px -10px;
}
[class^=m-icon-] {
    width: 14px;
    height: 14px;
    margin-top: 3px;
    line-height: 14px;
    vertical-align: top;
}

/*下拉菜单*/
.dropdown-menu {
    box-shadow: 5px 5px rgba(102,102,102,.1);
    left: 0;
    min-width: 175px;
    position: absolute;
    z-index: 1000;
    display: none;
    float: left;
    list-style: none;
    padding: 0;
    background-color: #fff;
    margin: 10px 0 0;
    border: 1px solid #eee;
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
    -webkit-border-radius: 0px;
    -moz-border-radius: 0px;
    -ms-border-radius: 0px;
    -o-border-radius: 0px;
    border-radius: 0px;
}
.dropdown-menu>li>a {
    padding: 8px 16px;
    color: #6e6e6e;
    text-decoration: none;
    display: block;
    font-weight: 300;
    line-height: 18px;
    white-space: nowrap;
}
.dropdown-menu>li.active:hover>a, .dropdown-menu>li.active>a, .dropdown-menu>li:hover>a {
    text-decoration: none;
    background-image: none;
    background-color: #f6f6f6;
    color: #555;
    filter: none;
}
.portlet.light>.portlet-title>.actions .dropdown-menu li>a {
    color: #555;
}
.btn-group>.dropdown-menu:before, .dropdown-toggle>.dropdown-menu:before, .dropdown>.dropdown-menu:before {
    position: absolute;
    top: -8px;
    left: 9px;
    right: auto;
    display: inline-block!important;
    border-right: 8px solid transparent;
    border-bottom: 8px solid #e0e0e0;
    border-left: 8px solid transparent;
    content: '';
}
.btn-group>.dropdown-menu.pull-right:before, .dropdown-toggle>.dropdown-menu.pull-right:before, .dropdown>.dropdown-menu.pull-right:before {
    left: auto;
    right: 9px;
}
.page-header.navbar .top-menu .navbar-nav>li.dropdown-user>.dropdown-menu {
    width: 195px;
    left: -104px;
    border-radius: 0;
}

/*表单部分*/
.form .form-body, .portlet-form .form-body {
    padding: 20px 0;
}
.control-label {
    margin-top: 1px;
    font-weight: 400;
}
.btn, .form-control {
    box-shadow: none!important;
}
.form-control {
    outline: 0!important;
    border-radius: 0;
}
.icon-btn {
    height: 60px;
    min-width: 80px;
    margin: 5px 5px 0 0;
    border: 1px solid #ddd;
    padding: 12px 0 0;
    background-color: #fafafa;
    background-image: none;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
    color: #646464;
    text-align: center;
    position: relative;
    transition: all .3s ease;
}
.icon-btn, .icon-btn:hover {
    -webkit-transition: all .3s ease;
    -moz-transition: all .3s ease;
    -ms-transition: all .3s ease;
    -o-transition: all .3s ease;
}
.form-control-static, .icon-btn, .input-inline, .radio-list>label.radio-inline {
    display: inline-block;
}
.color-demo, .icon-btn, .tasks-widget .task-list>li>.task-checkbox input[type=checkbox], .tiles .tile {
    cursor: pointer;
}
[class*=" fa-"]:not(.fa-stack), [class*=" glyphicon-"], [class*=" icon-"], [class^=fa-]:not(.fa-stack), [class^=glyphicon-], [class^=icon-] {
    display: inline-block;
    line-height: 14px;
    -webkit-font-smoothing: antialiased;
}
.icon-btn>div {
    margin-top: 5px;
    margin-bottom: 20px;
    color: #3f444a;
    font-size: 12px;
    font-weight: 300;
}
.input-group-btn:last-child>.btn, .input-group-btn:last-child>.btn-group {
    z-index: 2;
    margin-left: -1px;
}
.btn:not(.btn-sm):not(.btn-lg) {
    line-height: 1.44;
}
.input-medium {
    width: 240px!important;
}
.help-inline {
    font-size: 13px;
    color: #737373;
    display: inline-block;
    padding: 5px;
}

/*重置表格样式*/
.table>tbody>tr>td, .table>tbody>tr>th, .table>tfoot>tr>td, .table>tfoot>tr>th, .table>thead>tr>td, .table>thead>tr>th {
    vertical-align: middle;
}

/*修订tree树状菜单样式*/
.ztree{
    position: relative;
    z-index: 999;
}